[DEFAULT]
SavePath = /Users/myusername/Documents/Podcasts/le-pourquoi-du-comment-philo
PodcastUrl = https://www.radiofrance.fr/franceculture/podcasts/le-pourquoi-du-comment-philo
GladiaKey = 702f8ff0-d3cd-b069-b0ds9-b51dddz3ff37c